In [2]:
import pandas as pd
import numpy as np
import os

In [32]:
path=(r"C:\Users\hardjan\Instacart Basket Analysis March 2024")

In [33]:
df_ords_prods_merge_derived=pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived.pkl'))

In [12]:
df_ords_prods_merge_derived.drop(columns=['Unnamed:0_x','Unnamed:0.1','Unnamed:0_y','_merge'], axis=1)

KeyError: "['Unnamed:0_x', 'Unnamed:0.1', 'Unnamed:0_y'] not found in axis"

In [35]:
df_ords_prods_merge_derived = df_ords_prods_merge_derived.drop(columns = ['Unnamed:0_x','Unnamed:0.1','Unnamed:0_y','_merge'],axis=1)

KeyError: "['Unnamed:0_x', 'Unnamed:0.1', 'Unnamed:0_y'] not found in axis"

In [4]:
df=df_ords_prods_merge_derived[:1000000]

In [6]:
df.shape

(1000000, 22)

In [8]:
df.head(10)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest day,Busiest days,busiest_period_of_day
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,1987,3139998,138,...,11,3.0,5,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1989,1977647,138,...,17,20.0,1,1,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Average Orders
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,11433,389851,709,...,21,6.0,20,0,both,Mid_range product,Mid_range product,Busiest day,Busiest days,Average Orders
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,12198,652770,764,...,13,NaN,10,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,12200,1813452,764,...,17,9.0,11,1,both,Mid_range product,Mid_range product,Least busy,Slowest days,Average Orders
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,114931,12372,1701441,777,...,7,26.0,7,0,both,Mid_range product,Mid_range product,Regularly busy,Busiest days,Average Orders
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,120603,13096,1871483,825,...,14,30.0,2,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,135599,14603,1290456,910,...,10,30.0,1,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,158784,17065,369558,1052,...,20,19.0,1,0,both,Mid_range product,Mid_range product,Regularly busy,Busiest days,Average Orders
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,158794,17070,589712,1052,...,12,15.0,2,1,both,Mid_range product,Mid_range product,Regularly busy,Busiest days,Most Orders

In [14]:
df.groupby('product_name')

In [15]:
list(df_ords_prods_merge_derived.columns.values)

['Unnamed: 0_x',
 'product_id',
 'product_name',
 'aisle_id',
 'department_id',
 'prices',
 'Unnamed: 0.1',
 'Unnamed: 0_y',
 'order_id',
 'user_id',
 'order_sequence_number',
 'orders_day_of_week',
 'order_hour_of_day',
 'days_since_prior_order',
 'add_to_cart_order',
 'reordered',
 '_merge',
 'price_range',
 'price_range_loc',
 'Busiest day',
 'Busiest days',
 'busiest_period_of_day']

In [21]:
df_ords_prods_merge_derived = df_ords_prods_merge_derived.drop(columns =['Unnamed: 0_x','Unnamed: 0.1','Unnamed: 0_y','_merge','price_range'],axis=1)

In [22]:
df_ords_prods_merge_derived.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_sequence_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,add_to_cart_order,reordered,price_range_loc,Busiest day,Busiest days,busiest_period_of_day
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,Mid_range product,Regularly busy,Regularly busy,Most Orders
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,Mid_range product,Regularly busy,Regularly busy,Average Orders
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,Mid_range product,Busiest day,Busiest days,Average Orders
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,Mid_range product,Regularly busy,Slowest days,Most Orders
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,Mid_range product,Least busy,Slowest days,Average Orders

In [26]:
df.groupby('department_id')['order_sequence_number'].mean()

department_id
1     15.577493
2     17.320781
3     16.084944
4     17.530458
5     14.763075
6     16.658449
7     17.031590
8     15.076662
9     15.447580
10    18.681852
11    15.447411
12    14.327957
13    16.548642
14    16.960241
15    16.121948
16    17.803851
17    15.593633
18    19.674252
19    16.899756
20    16.255442
21    25.535479
Name: order_sequence_number, dtype: float64

In [28]:
df.groupby('department_id').agg({'order_sequence_number': ['mean']})

              order_sequence_number
                               mean
department_id
1                         15.577493
2                         17.320781
3                         16.084944
4                         17.530458
5                         14.763075
6                         16.658449
7                         17.031590
8                         15.076662
9                         15.447580
10                        18.681852
11                        15.447411
12                        14.327957
13                        16.548642
14                        16.960241
15                        16.121948
16                        17.803851
17                        15.593633
18                        19.674252
19                        16.899756
20                        16.255442
21                        25.535479

In [42]:
df.groupby('department_id').agg({'order_sequence_number': ['mean', 'min', 'max']})

              order_sequence_number
                               mean min max
department_id
1                         15.577493   1  99
2                         17.320781   1  96
3                         16.084944   1  99
4                         17.530458   1  99
5                         14.763075   1  99
6                         16.658449   1  99
7                         17.031590   1  99
8                         15.076662   1  98
9                         15.447580   1  99
10                        18.681852   1  99
11                        15.447411   1  99
12                        14.327957   1  99
13                        16.548642   1  99
14                        16.960241   1  99
15                        16.121948   1  99
16                        17.803851   1  99
17                        15.593633   1  99
18                        19.674252   1  99
19                        16.899756   1  99
20                        16.255442   1  99
21                        25.535479   1  98

In [48]:
df_ords_prods_merge_derived['max_order']=df_ords_prods_merge_derived.groupby(['user_id'])['order_sequence_number'].transform(np.max)

C:\Users\hardjan\AppData\Local\Temp\ipykernel_10504\3517166906.py:1: FutureWarning: The provided callable <function max at 0x00000229B007B4C0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_ords_prods_merge_derived['max_order']=df_ords_prods_merge_derived.groupby(['user_id'])['order_sequence_number'].transform(np.max)

In [49]:
df_ords_prods_merge_derived.head(15)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest day,Busiest days,busiest_period_of_day,max_order,max
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,1987,3139998,138,...,5,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders,32,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1989,1977647,138,...,1,1,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Average Orders,32,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,11433,389851,709,...,20,0,both,Mid_range product,Mid_range product,Busiest day,Busiest days,Average Orders,5,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,12198,652770,764,...,10,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders,3,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,12200,1813452,764,...,11,1,both,Mid_range product,Mid_range product,Least busy,Slowest days,Average Orders,3,3
5,0,1,Chocolate Sandwich Cookies,61,19,5.8,114931,12372,1701441,777,...,7,0,both,Mid_range product,Mid_range product,Regularly busy,Busiest days,Average Orders,26,26
6,0,1,Chocolate Sandwich Cookies,61,19,5.8,120603,13096,1871483,825,...,2,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders,9,9
7,0,1,Chocolate Sandwich Cookies,61,19,5.8,135599,14603,1290456,910,...,1,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders,12,12
8,0,1,Chocolate Sandwich Cookies,61,19,5.8,158784,17065,369558,1052,...,1,0,both,Mid_range product,Mid_range product,Regularly busy,Busiest days,Average Orders,20,20
9,0,1,Chocolate Sandwich Cookies,61,19,5.8,158794,17070,589712,1052,...,2,1,both,Mid_range product,Mid_range product,Regularly busy,Busiest days,Most Orders,20,20
10,0,1,Chocolate Sandwich Cookies,61,19,5.8,202518,22082,1798115,1379,...,1,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders,10,10
11,0,1,Chocolate Sandwich Cookies,61,19,5.8,216201,23713,497193,1480,...,1,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders,43,43
12,0,1,Chocolate Sandwich Cookies,61,19,5.8,216210,23715,1727826,1480,...,3,1,both,Mid_range product,Mid_range product,Least busy,Slowest days,Most Orders,43,43
13,0,1,Chocolate Sandwich Cookies,61,19,5.8,216219,23716,2694698,1480,...,4,1,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders,43,43
14,0,1,Chocolate Sandwich Cookies,61,19,5.8,218136,23937,3171753,1494,...,8,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders,13,13

In [50]:
df_ords_prods_merge_derived.head(100)

,Unnamed: 0_x,product_id,product_name,aisle_id,department_id,prices,Unnamed: 0.1,Unnamed: 0_y,order_id,user_id,...,add_to_cart_order,reordered,_merge,price_range,price_range_loc,Busiest day,Busiest days,busiest_period_of_day,max_order,max
0,0,1,Chocolate Sandwich Cookies,61,19,5.8,16802,1987,3139998,138,...,5,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders,32,32
1,0,1,Chocolate Sandwich Cookies,61,19,5.8,16806,1989,1977647,138,...,1,1,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Average Orders,32,32
2,0,1,Chocolate Sandwich Cookies,61,19,5.8,106710,11433,389851,709,...,20,0,both,Mid_range product,Mid_range product,Busiest day,Busiest days,Average Orders,5,5
3,0,1,Chocolate Sandwich Cookies,61,19,5.8,113536,12198,652770,764,...,10,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders,3,3
4,0,1,Chocolate Sandwich Cookies,61,19,5.8,113575,12200,1813452,764,...,11,1,both,Mid_range product,Mid_range product,Least busy,Slowest days,Average Orders,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0,1,Chocolate Sandwich Cookies,61,19,5.8,1680830,179480,602103,10831,...,5,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders,10,10
96,0,1,Chocolate Sandwich Cookies,61,19,5.8,1720947,184011,49629,11119,...,1,0,both,Mid_range product,Mid_range product,Regularly busy,Busiest days,Most Orders,23,23
97,0,1,Chocolate Sandwich Cookies,61,19,5.8,1730290,185002,317888,11186,...,8,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders,26,26
98,0,1,Chocolate Sandwich Cookies,61,19,5.8,1741029,186194,682486,11243,...,2,0,both,Mid_range product,Mid_range product,Regularly busy,Slowest days,Most Orders,43,43
99,0,1,Chocolate Sandwich Cookies,61,19,5.8,1771281,189258,2861386,11448,...,6,0,both,Mid_range product,Mid_range product,Regularly busy,Regularly busy,Most Orders,21,21

In [ ]:
pd.options.display.max_rows = None

In [55]:
df_ords_prods_merge_derived.loc[df_ords_prods_merge_derived['max_order']>40,'Loyalty_flag']='Loyal Customer'

In [57]:
df_ords_prods_merge_derived.loc[(df_ords_prods_merge_derived['max_order']<=40 )& (df_ords_prods_merge_derived['max_order']>10),'Loyalty_flag']='Regular Customer'

In [58]:
df_ords_prods_merge_derived.loc[df_ords_prods_merge_derived['max_order']<=10,'Loyalty_flag']='New Customer'

In [59]:
df_ords_prods_merge_derived['Loyalty_flag'].value_counts(dropna=False)

Loyalty_flag
Regular Customer    15876776
Loyal Customer      10284093
New Customer         6243990
Name: count, dtype: int64

In [62]:
df_ords_prods_merge_derived[['user_id', 'Loyalty_flag', 'order_sequence_number']].head(60)

    user_id      Loyalty_flag  order_sequence_number
0       138  Regular Customer                     28
1       138  Regular Customer                     30
2       709      New Customer                      2
3       764      New Customer                      1
4       764      New Customer                      3
5       777  Regular Customer                     16
6       825      New Customer                      3
7       910  Regular Customer                     12
8      1052  Regular Customer                     10
9      1052  Regular Customer                     15
10     1379      New Customer                      1
11     1480    Loyal Customer                     36
12     1480    Loyal Customer                     38
13     1480    Loyal Customer                     39
14     1494  Regular Customer                      6
15     1494  Regular Customer                      7
16     1494  Regular Customer                      9
17     1540  Regular Customer                      4
18     1540  Regular Customer                      5
19     1540  Regular Customer                      6
20     1540  Regular Customer                      7
21     1540  Regular Customer                      8
22     1540  Regular Customer                      9
23     1540  Regular Customer                     14
24     1540  Regular Customer                     15
25     1540  Regular Customer                     18
26     1540  Regular Customer                     19
27     1540  Regular Customer                     20
28     1540  Regular Customer                     21
29     1540  Regular Customer                     22
30     1540  Regular Customer                     24
31     1540  Regular Customer                     25
32     1540  Regular Customer                     27
33     1540  Regular Customer                     28
34     1598      New Customer                      1
35     1598      New Customer                      2
36     1598      New Customer                      3
37     1647      New Customer                      1
38     1647      New Customer                      4
39     1647      New Customer                      6
40     1647      New Customer                      8
41     1647      New Customer                      9
42     2833      New Customer                      1
43     2850  Regular Customer                      7
44     2857  Regular Customer                     24
45     3010  Regular Customer                      5
46     3029      New Customer                      1
47     3395      New Customer                      4
48     3904      New Customer                      1
49     4006    Loyal Customer                      2
50     4006    Loyal Customer                      3
51     4006    Loyal Customer                      5
52     4006    Loyal Customer                      9
53     4006    Loyal Customer                     12
54     4122  Regular Customer                     11
55     4141      New Customer                      2
56     4343      New Customer                      1
57     4553      New Customer                      3
58     4845  Regular Customer                      6
59     6866      New Customer                      1

## Export Data Frame as Pickle to prepared data folder

In [63]:
df_ords_prods_merge_derived.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged_derived(4.8).pkl'))